#cards{
    width: 23rem;
    border-radius: 2rem;
    padding: 2rem;
    border: 2px solid blueviolet;
    
}

#cards:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

