#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: black;
}

button {
  padding:1rem;
  border-radius: 5rem;
  color: white;
  background:red;
}