#root {
  height: 100vh;
  max-width: 1280px;
  text-align: center;
}

body{
  background-color: black;
}
a{
  color: black;
  font-size: 1rem;
}

button {
  padding:1rem;
  border-radius: 5rem;
  color: white;
  background:red;
}

#navbar{
  width: calc(100vw - 2rem);
  background: #23afaa;
  padding: 1rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

#logo{
  font-size:0.75rem;

}

#menu{
  width:auto;
  padding: 2rem 0;
  color: black;
  display: flex;
  gap: 4rem;
}