*{
    text-align: start;
    margin: 0;
    padding: 2px;
}
h1{
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}

p{
   font-size:1rem;
   font-weight: 300;
}

#Cname{
    font-size: 0.95rem;
}


